# Personal stuff
zones/*
known_devices.yaml
secrets.yaml
tts/

# Extension ignores
*.log*
*.db*
*.pyc

# Directory (contents) ignores
.cloud
.storage
deps
custom_components/*
themes/*
www/**/
blueprints/*

# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.uuid
core
ip_bans.yaml
options.xml
.pip_progress
.HA_VERSION
pyton_scripts/*.py
automations.yaml
# Watchman
report.txt

# Some other generic stuff
.vscode

# Specific keeps
!.gitkeep

# Addons
python-zeroconf/
ps5-mqtt/
addons_config/
lms/

# AppDaemon
appdaemon/apps/*
!appdaemon/apps/apps.yaml
