# Personal stuff
zones/*
known_devices.yaml
secrets.yaml
tts/

# Extension ignores
*.log*
*.db*
*.pyc

# Directory (contents) ignores
.cloud
.storage
deps
custom_components/*
themes/*
www/**/
blueprints/*

# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.uuid
core
ip_bans.yaml
options.xml
.google.token
.pip_progress
.HA_VERSION
pyton_scripts/*.py
automations.yaml

# Some other generic stuff
.vscode

# Specific keeps
!.gitkeep

# Addons
node-red/
esphome/**/
!esphome/common
!esphome/libraries
python-zeroconf/

# Rhasspy (WiP)
rhasspy/

edgeos.key

# diyHue
addons/diyHue/rootfs

# Emulated Hue
*.pem
emulated_hue.*
