---
input_boolean:
  alarm_clock:
    icon: mdi:alarm
  alarm_clock_triggered_today:
  # Is an alarm currently on?
  alarm_clock_on:
  alarm_clock_left_bed:
  alarm_clock_open_cover:
    icon: mdi:window-shutter

input_datetime:
  alarm_time:
    name: Manuelle Weckzeit
    has_time: true
